{% extends 'index.html' %}
{% block body %}


<div class="heading">
    <h3>about us</h3>
    <p> <a href="home.php">home</a> / about </p>
 </div>
 
 <section class="about">
 
    <div class="flex">
 
       <div class="image">
          <img src="../static/bookstore.jpeg" alt="">
       </div>
 
       <div class="content">
          <h3>why choose us?</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet voluptatibus aut hic molestias, reiciendis natus fuga, cumque excepturi veniam ratione iure. Excepturi fugiat placeat iusto facere id officia assumenda temporibus?</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit quos enim minima ipsa dicta officia corporis ratione saepe sed adipisci?</p>
          <a href="contact.php" class="btn">contact us</a>
       </div>
 
    </div>
 
 </section>
 
 <section class="reviews">
 
    <h1 class="title">client's reviews</h1>
 
    <div class="box-container">
 
       <div class="box">
          <img src="images/pic-1.png" alt="">
          <p>To Kill a Mockingbird" by Harper Lee: A classic American novel that explores issues of race and injustice through the eyes of young Scout Finch. Lee's writing is beautiful and poignant, and the book remains relevant and thought-provoking today.</p>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
          </div>
          <h3>Vedangi Patil</h3>
       </div>
 
       <div class="box">
          <img src="images/pic-2.png" alt="">
          <p>The Hunger Games" by Suzanne Collins: A gripping dystopian novel that follows 16-year-old Katniss Everdeen as she fights for survival in a brutal televised competition. Collins' world-building is impressive, and the book is a page-turner from start to finish.</p>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
          </div>
          <h3>Siddhi Desale</h3>
       </div>
 
       <div class="box">
          <img src="images/pic-3.png" alt="">
          <p>The Alchemist" by Paulo Coelho: A charming and inspirational novel about a shepherd boy named Santiago who sets out on a journey to fulfill his personal legend. Coelho's writing is poetic and uplifting, and the book offers valuable insights into the nature of life and purpose.</p>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
          </div>
          <h3>Pratik Rajveer</h3>
       </div>
 
       <div class="box">
          <img src="images/pic-4.png" alt="">
          <p>The Girl with the Dragon Tattoo" by Stieg Larsson: A dark and complex thriller that delves into issues of violence and corruption in Swedish society. The book's main character, hacker Lisbeth Salander, is fascinating and compelling, and the plot is full of twists and </p>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
          </div>
          <h3>Siddhesh Pednekar</h3>
       </div>
 
       <div class="box">
          <img src="images/pic-5.png" alt="">
          <p>The Brief Wondrous Life of Oscar Wao" by Junot Díaz: A tragicomic novel that tells the story of an overweight Dominican-American boy named Oscar and his family's struggles with love, identity, and the legacy of dictatorship. Díaz's writing is witty and engaging, and the book is a powerful exploration of the immigrant experience.</p>
          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
          </div>
          <h3>Miheet Shah</h3>
       </div>
 
       <div class="box">
          <img src="images/pic-6.png" alt="">
          <p>"The Handmaid's Tale" by Margaret Atwood: A chilling and thought-provoking novel set in a totalitarian society where women are subjugated and used for reproduction. Atwood's writing is haunting and evocative, and the book offers a powerful commentary on gender roles and power dynamics.</p>

          <div class="stars">
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star-half-alt"></i>
          </div>
          <h3>Sanika Yadkikar</h3>
       </div>
 
    </div>
 
 </section>
 
 <section class="authors">
 
    <h1 class="title">greate authors</h1>
 
    <div class="box-container">
 
       <div class="box">
          <img src="../static/sm.jpg" alt="">
          <div class="share">
             <a href="#" class="fab fa-facebook-f"></a>
             <a href="#" class="fab fa-twitter"></a>
             <a href="#" class="fab fa-instagram"></a>
             <a href="#" class="fab fa-linkedin"></a>
          </div>
          <h3>Sudha Murthy</h3>
       </div>
 
       <div class="box">
          <img src="../static/cb.jpg" alt="">
          <div class="share">
             <a href="#" class="fab fa-facebook-f"></a>
             <a href="#" class="fab fa-twitter"></a>
             <a href="#" class="fab fa-instagram"></a>
             <a href="#" class="fab fa-linkedin"></a>
          </div>
          <h3>Chetan Bhagat</h3>
       </div>
 
       <div class="box">
          <img src="../static/ps.jpg" alt="">
          <div class="share">
             <a href="#" class="fab fa-facebook-f"></a>
             <a href="#" class="fab fa-twitter"></a>
             <a href="#" class="fab fa-instagram"></a>
             <a href="#" class="fab fa-linkedin"></a>
          </div>
          <h3>Preeti Shenoy
         </h3>
       </div>
 
       <div class="box">
          <img src="../static/pc.jpg" alt="">
          <div class="share">
             <a href="#" class="fab fa-facebook-f"></a>
             <a href="#" class="fab fa-twitter"></a>
             <a href="#" class="fab fa-instagram"></a>
             <a href="#" class="fab fa-linkedin"></a>
          </div>
          <h3>Paulo Coelho
         </h3>
       </div>
 
       <div class="box">
          <img src="../static/sp.jpg" alt="">
          <div class="share">
             <a href="#" class="fab fa-facebook-f"></a>
             <a href="#" class="fab fa-twitter"></a>
             <a href="#" class="fab fa-instagram"></a>
             <a href="#" class="fab fa-linkedin"></a>
          </div>
          <h3>Sylvia Plath</h3>
       </div>
 
       <div class="box">
          <img src="../static/sk.jpg" alt="">
          <div class="share">
             <a href="#" class="fab fa-facebook-f"></a>
             <a href="#" class="fab fa-twitter"></a>
             <a href="#" class="fab fa-instagram"></a>
             <a href="#" class="fab fa-linkedin"></a>
          </div>
          <h3>Stephen King
         </h3>
       </div>
 
    </div>
 
 </section>
 
 
 
 
 
 
 
 <?php include 'footer.php'; ?>
 
 <!-- custom js file link  -->
 <script src="../static/script.js"></script>

 {% endblock body %}