<header class="header">

    <div class="flex">
 
       <a href="admin_page" class="logo">Admin<span>Panel</span></a>
 
       <nav class="navbar">
          <a href="admin_page">home</a>
          <a href="admin_products">products</a>
          <a href="admin_orders">orders</a>
          <a href="admin_users">users</a>
          <a href="admin_contacts">messages</a>
       </nav>
 
       <div class="icons">
          <div id="menu-btn" class="fas fa-bars"></div>
          <div id="user-btn" class="fas fa-user"></div>
       </div>
 
       <div class="account-box">
          <p>username : <span>{{name}}</span></p>
          <p>email : <span>{{email}}</span></p>
          <a href="{{ url_for('logout') }}" class="delete-btn">logout</a>
          <div>new <a href="login">login</a> | <a href="register">register</a></div>
       </div>
 
    </div>
 
 </header>